# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./prisma/dev.db"

# Better Auth Secret: openssl rand -base64 32
BETTER_AUTH_SECRET="your-secret-here-replace-with-generated-value"

# Better Auth Base URL
BETTER_AUTH_URL=BaseURL

# NEXT_PUBLIC_BETTER_AUTH_URL=BaseURL

# Disable Better Auth telemetry
BETTER_AUTH_TELEMETRY=0

# DigitalOcean Spaces Access Key
SPACES_KEY=S3CR3T

# DigitalOcean Spaces Secret Key
SPACES_SECRET=S3CR3T

# DigitalOcean Spaces Endpoint
SPACES_ENDPOINT=S3CR3T

# DigitalOcean Spaces CDN Endpoint
NEXT_PUBLIC_SPACES_CDN_ENDPOINT=S3CR3T
