# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema files in "/src/app/env"
# should be updated accordingly.

# Example connection string for PostgreSQL:
DATABASE_URL=postgresql://username:password@localhost:5432/database

# Better Auth Secret: openssl rand -base64 32
BETTER_AUTH_SECRET=your-secret-here-replace-with-generated-value

# Better Auth Base URL
BETTER_AUTH_URL=BaseURL

# NEXT_PUBLIC_BETTER_AUTH_URL=BaseURL

# Disable Better Auth telemetry
BETTER_AUTH_TELEMETRY=0

# DigitalOcean Spaces Access Key
SPACES_KEY=S3CR3T

# DigitalOcean Spaces Secret Key
SPACES_SECRET=S3CR3T

# DigitalOcean Spaces Endpoint
SPACES_ENDPOINT=S3CR3T

# DigitalOcean Spaces CDN Endpoint
NEXT_PUBLIC_SPACES_CDN_ENDPOINT=S3CR3T
